html.swup-native {
  &.is-changing main {
    view-transition-name: main;
  }
  ::view-transition-old(main) {
    animation: view-transition-fade 0.35s ease-in-out both;
  }
  ::view-transition-new(main) {
    animation: view-transition-fade 0.35s ease-in-out both reverse;
  }
  html.is-changing:not(.swup-native) .transition-fade {
    opacity: 1;
    transition: 0.35s opacity;
  }
  html.is-animating:not(.swup-native) .transition-fade {
    opacity: 0;
  }
}
