@counter-style custom {
	system: cyclic;
	symbols: "–";
	suffix: " ";
}

body {
	@apply antialiased;
	@apply clamp-[text,base,xl];
}

h1 {
	@apply clamp-[text,2xl,4xl] font-extrabold;
}
h2 {
	@apply clamp-[text,xl,3xl] font-extrabold;
}
h3 {
	@apply clamp-[text,lg,2xl] font-bold;
}
h4 {
	@apply clamp-[text,base,xl] font-bold;
}

.prose {
	@apply text-fg prose-dt:text-fg prose-strong:text-fg prose-p:text-fg prose-lead:text-fg/60!;
	@apply prose-headings:font-extrabold prose-headings:text-fg;
	@apply prose-a:text-accent prose-headings:scroll-mt-(--scroll-padding);
	@apply prose-code:text-fg prose-code:not-italic prose-code:bg-fg/10 prose-pre:bg-fg/10 prose-code:px-1.5 prose-code:py-0.5 prose-pre:border prose-pre:border-white/10 prose-code:rounded prose-code:before:content-none prose-code:after:content-none [&_pre>code]:px-0;
	:where(:first-child) {
		margin-top: 0;
	}
	a {
		@apply custom-underline no-underline;
		&:where(.maps-links, .links-underlined-i) {
			@apply custom-underline-i;
		}
	}
	p {
		@apply text-pretty hyphens-auto;
	}
}
