.thumbnail {
  margin: 0;
}
.rex-js-widget-media:not(.rex-js-widget-imglist) {
  display: flex;
  position: relative;
  z-index: 1030;
  .rex-js-media-preview {
    display: none;
  }
  .input-group {
    flex: 1;
  }
}
.mform .rex-js-widget:not(.rex-js-widget-imglist) .thumbnail,
.yform .rex-js-widget:not(.rex-js-widget-imglist) .thumbnail,
#rex-page-sidebar-metainfo .thumbnail {
  position: relative;
  z-index: 4;
  transition: all 0.3s;
  margin: 0;
  isolation: isolate;
}
.mform .rex-js-widget:not(.rex-js-widget-imglist) .thumbnail:hover,
.yform .rex-js-widget:not(.rex-js-widget-imglist) .thumbnail:hover,
#rex-page-sidebar-metainfo .thumbnail:hover {
  transform: scale(2.5);
  z-index: 5;
}
