div.mce-fullscreen {
  z-index: 10000 !important;
}
.selectize-input > * {
  display: block !important;
}

#rex-id-meta-article-name {
  font-weight: 600;
  font-size: 2em;
  line-height: 1;
}

.form-group:has(.hide-form-group) {
  display: none;
  pointer-events: none;
}
