@utility pad-t-* {
  padding-top: calc(
    clamp(
        --value(integer) / 2,
        calc(
          --value(integer) / 2 + (--value(integer) - --value(integer) / 2) *
            (
              (100vw - var(--min-viewport)) /
                (var(--max-viewport) - var(--min-viewport))
            )
        ),
        --value(integer)
      ) *
      1px
  );
}
@utility -pad-t-* {
  padding-top: calc(
    clamp(
        --value(integer) / 2,
        calc(
          --value(integer) / 2 + (--value(integer) - --value(integer) / 2) *
            (
              (100vw - var(--min-viewport)) /
                (var(--max-viewport) - var(--min-viewport))
            )
        ),
        --value(integer)
      ) *
      1px * -1
  );
}

@utility pad-b-* {
  padding-bottom: calc(
    clamp(
        --value(integer) / 2,
        calc(
          --value(integer) / 2 + (--value(integer) - --value(integer) / 2) *
            (
              (100vw - var(--min-viewport)) /
                (var(--max-viewport) - var(--min-viewport))
            )
        ),
        --value(integer)
      ) *
      1px
  );
}
@utility -pad-b-* {
  padding-bottom: calc(
    clamp(
        --value(integer) / 2,
        calc(
          --value(integer) / 2 + (--value(integer) - --value(integer) / 2) *
            (
              (100vw - var(--min-viewport)) /
                (var(--max-viewport) - var(--min-viewport))
            )
        ),
        --value(integer)
      ) *
      1px * -1
  );
}

@utility pad-y-* {
  padding-top: calc(
    clamp(
        --value(integer) / 2,
        calc(
          --value(integer) / 2 + (--value(integer) - --value(integer) / 2) *
            (
              (100vw - var(--min-viewport)) /
                (var(--max-viewport) - var(--min-viewport))
            )
        ),
        --value(integer)
      ) *
      1px
  );
  padding-bottom: calc(
    clamp(
        --value(integer) / 2,
        calc(
          --value(integer) / 2 + (--value(integer) - --value(integer) / 2) *
            (
              (100vw - var(--min-viewport)) /
                (var(--max-viewport) - var(--min-viewport))
            )
        ),
        --value(integer)
      ) *
      1px
  );
}
